@font-face{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

:root {
    --brown-bg: #756157;
    --brown-dark-bg: #615048;
    --blue-lightest: #82d3d3;
    --blue-bg-light: #F0F6FA;
    --blue-bg: #82B3D3;
    --blue-dark-bg: #68A2CA;
    --blue-azure: #E6F0F6;
    --green-bg: #7DB54F;
    --green-dark-bg: #6C9E42;
    --black: #000000;
    --white: #ffffff;
    --white-bg: #F2F2F2;
    --grey: #E5E5E5;
    --grey-silver: #999999;
    --grey-semi: #E6E6E6;
    --grey-darkest: #3F5E72;
    --grey-dark: #333333;
    --grey-asphalt: #878b8d;
    --brown-darkest: #756257;
    --red:#FF5757;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: var(--black);
    background-color: var(--white-bg);
    position: relative;
}

.btn {
    font-family: "PT Sans", sans-serif;
}

.index-wrapper {
    background-color: var(--white);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.page-header {
    color: var(--black);
    background-color: var(--white);
}

.navigation {
    padding: 0 40px;
    display: flex;
    justify-content:left;
}

.navigation-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navigation-item {
    margin: 0 16px;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    color: var(--black);
    font-weight: 700;
    text-align: center;
    padding:15px 0;
    display: block;
}

.navigation-link--current {
    border-bottom: 2px solid var(--brown-darkest);
}

.navigation-link-logo {
    padding: 0;
    margin-right: 30px;
}
.navigation-logo {
  display: block;
  position: absolute;
  top: 0;
}
.navigation-item-logo {
  min-width:140px;
  position: relative;
}

.navigation-user-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    min-width: 300px;
    flex-wrap: wrap;
}

.navigation-user-item {
    position: relative;
}

.navigation-user-item .navigation-user-like {
    color: var(--white);
    position: absolute;
    top: 18px;
    right: 7px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 10px;
    z-index: 2;
}

.navigation-user-like::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--green-bg);
    background-color: var(--green-bg);
    z-index: -1;
}

.navigation-user-link {
    font-size: 20px;
    line-height: 24px;
    color: var(--black);
    font-weight: 700;
    text-align: center;
    padding: 15px 12px;
    display: block;
}

.navigation-btn {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--brown-bg);
    border-radius: 4px;
    padding: 8px 34px;
    margin-left: 20px;
    min-width: 160px;
}

.navigation-btn:hover {
    background-color: var(--brown-dark-bg);
}

.navigation-btn:active {
    background-color: var(--brown-bg);
    color: rgba(255, 255, 255, 0.3);
}

.navigation-btn:disabled {
    background-color: var(--grey);
    color: var(--white);
}

.promo {
    min-height: 485px;
    background-color: var(--blue-lightest);
    background-image: url(../images/bg-divider.svg), url(../images/bg-welcome.svg), url(../images/bg-index-welcome.jpg);
    background-repeat: no-repeat;
    background-position: bottom, center, center;
    background-size: 100% auto, auto, cover;
}

.reasons {
    padding-top: 60px;
    max-width: 1200px;
}

.reasons-decription {
    font-size: 30px;
    line-height: 36px;
    color: var(--black);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0 290px 0 290px;
}

.reasons-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 70px;
    padding: 0 274.5px 0 274.5px;
}

.reasons-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.reasons-item {
    min-height: 385px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.reasons-item img {
    object-fit: contain;
}

.reasons-title {
    font-size: 24px;
    line-height: 28px;
    color: var(--black);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.reasons-content {
    font-size: 18px;
    line-height: 21px;
    color: var(--black);
    font-weight: 400;
    text-align: center;
}

.reasons-special .reasons-item-line {
    color: var(--white);
}

.reasons-item-usually .reasons-item-line {
    color: var(--black);
}

.reasons-item-usually {
    width: 400px;
    padding: 85px 112.5px;
    background-color: var(--blue-bg-light);
}

.reasons-item-dark {
    background-color: var(--blue-azure);
}

.reasons-item-special {
    background-color: var(--blue-bg);
    flex-direction: row;
}

.reasons-special {
    padding: 85px 102px;
}

.reasons-item-special h3 {
    color: var(--white);
}

.reasons-item-special p {
    color: var(--white);
}

.advantages {
    padding-top: 60px;
}

.advantages-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.advantages-item {
  width: 400px;
    min-height: 385px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 85px 112.5px;
    padding-top: 145px;
    align-items: center;
    justify-content: end;
    background-repeat: no-repeat;
    background-position: center 65px;
}

.advantages-item-houses {
    background-image: url(../images/icon-house.svg);
    background-color: var(--blue-bg-light);
}

.advantages-item-foods {
    background-image: url(../images/icon-food.svg);
}

.advantages-item-gifts {
    background-image: url(../images/icon-gift.svg);
    background-color: var(--blue-bg-light);
}

.advantages-title {
    font-family: "PT Sans", sans-serif;
    margin: 0;
    padding: 0 347.5px;
    font-size: 30px;
    line-height: 36px;
    color: var(--black);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.advantages-description {
    margin: 0;
    margin-top: 20px;
    padding: 0 355px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 64px;
}

.advantages-subtitle {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.advantages-content {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
}

.search {
    padding-top: 96px;
    padding-bottom: 96px;
}

.search-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    padding: 0 304px;
    margin: 0;
    margin-bottom: 20px;
}

.search-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding: 0 304px;
    margin: 0;
    margin-bottom: 54px;
}

.search-modal-btn {
    min-width: 376px;
    border-radius: 4px;
    padding: 8px 50px;
    background-color: var(--brown-bg);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    width: 376px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
}

.search-modal-btn:hover,
.search-modal-btn:focus {
    background-color: var(--brown-dark-bg);
}

.search-modal-btn:active {
    color: rgba(255, 255, 255, 0.3);
}

.subscribe {
    background-color: var(--blue-bg);
    background-image: url(../images/bg-subscribe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 414px;
    text-align: center;
    padding: 104px 0 96px 0;
}

.subscribe-email {
    background-color: var(--white-bg);
    border-radius: 4px 0 0 4px;
    padding: 14px 20px;
    min-width: 452px;
    min-height: 52px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--black);
    border: none;
}

.subscribe-email:hover {
    background-color: var(--grey-semi);
}

.subscribe-email:focus {
    background-color: var(--grey-semi);
    border: none;
    outline: 3px solid var(--blue-bg);
}

.subscribe-btn {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: var(--blue-bg);
    color: var(--white);
    text-transform: uppercase;
    padding: 8px 50px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: var(--blue-dark-bg);
}

.subscribe-btn:active {
    color: rgba(255, 255, 255, 0.3);
}

.subscribe-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
    color: var(--white);
    padding: 0 398px;
}

.subscribe-text {
    margin: 0;
    margin-bottom: 54px;
    font-size: 22px;
    line-height: 26px;
    color: var(--white);
    padding: 0 362.5px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

.footer {
    padding: 40px 70px 30px 70px;
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.social-list {
    padding: 0;
    min-width: 142px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.social-link {
    padding: 3px;
}

.social-link svg {
    fill: var(--blue-bg);
}

.social-link:hover svg,
.social-link:focus svg {
    fill: var(--blue-dark-bg);
}

.social-link:active svg {
    fill: var(--blue-dark-bg);
    opacity: 0.3;
}

.contact-link {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--black);
}

.contact-link:hover {
    color: var(--brown-bg);
}

.contact-link:active {
    color: var(--brown-bg);
    opacity: 0.3;
}

.footer-link-academy svg {
    fill: var(--black);
}

.footer-link-academy:hover svg {
    fill: var(--brown-bg);
}

.footer-link-academy:active svg {
    fill: var(--brown-bg);
    opacity: 0.3;
}

.filters {
    background-color: var(--blue-bg);
    padding: 30px 70px 70px 70px;
    background-image: url(../images/bg-filter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.filters-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    color: var(--white);
    text-align: left;
    margin: 0;
    margin-bottom: 8px;
}

.breadcrumb-list {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.breadcrumb-item {
    margin-right: 10px;
}

.breadcrumb-home :hover {
    fill: red;
}

.breadcrumb-divider {
    color: var(--white);
}

.breadcrumb-link {
    font-size: 16px;
    line-height: 21px;
    color: var(--white);
}

.breadcrumb-link:hover {
    opacity: 0.6;
}

.breadcrumb-link:active {
    opacity: 0.3;
}

.filters-form {
    display: flex;
}

.form-wrapper {
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 70px;
}

.filters-list {
    padding: 0;
    padding-left: 40px;
    margin: 0;
    list-style: none;
}

.filters-item {
    margin: 0;
    margin-bottom: 16px;
}

.filters-name {
    position: relative;
    cursor: pointer;
}

.filters-name:hover,
.filters-name:active {
    color: rgba(255, 255, 255, 0.3);
}

.filters-name-checkbox::before {
    content: "";
    position: absolute;
    left: -39px;
    top: 4px;
    border-radius: 4px;
    border: 1px solid var(--white);
    background-color: var(--white);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.filters-name-checkbox:hover::before,
.filters-name-checkbox:active::before {
    background: rgba(255, 255, 255, 0.3);
    border: none;
}
.filters-check:focus +.filters-name-checkbox::before{
  outline:3px solid var(--blue-dark-bg);
  border:none;
}
.filters-check:checked+.filters-name-checkbox::after {
    content: "";
    position: absolute;
    left: -35px;
    top: 8px;
    width: 13px;
    height: 9px;
    border-left: 2px solid var(--grey-darkest);
    border-bottom: 2px solid var(--grey-darkest);
    rotate: -45deg;
    cursor: pointer;
}

.filters-name-radio::before {
    content: "";
    position: absolute;
    left: -39px;
    top: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--white);
    background-color: var(--white);
    cursor: pointer;
}

.filters-name-radio:hover::before,
.filters-name-radio:active::before {
    background: rgba(255, 255, 255, 0.3);
    border: none;
}

.filters-radio:focus +.filters-name-radio::before{
  outline:3px solid var(--blue-dark-bg);
  border:none;
}

.filters-radio:checked+.filters-name-radio::after {
    content: "";
    position: absolute;
    left: -34px;
    top: 9px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--grey-darkest);
    background: var(--grey-darkest);
    cursor: pointer;
}


.filters-subtitle {
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: var(--white);
    margin: 0;
    margin-bottom: 32px;
}

.filters-name {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: var(--white);
}

.filters-subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: var(--white);
}

.filters-field {
    width: 143px;
    height: 48px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding: 12px 20px;
    padding-right: 38px;
    margin-bottom: 48px;
    border: none;
    background-color: var(--white-bg);
}

.filters-field:hover {
    background-color: var(--grey-semi);
}

.filters-field:focus {
    background-color: var(--grey-semi);
    border: none;
    outline: 3px solid var(--blue-bg);
}

.filters-price {
    margin-left: auto;
}

.filters-field-from {
    border-radius: 4px 0 0 4px;
    position: relative;
}

.filters-field-from {
    position: relative;
}

.filters-field-from:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 11px;
    border: 1px solid red;
    top: 0;
    left: 0;
}

.filters-left-block {
  position: relative;
}
.filters-right-block{
  position: relative;
}
.filters-container-from::after {
  content: "от";
  position: absolute;
  top:11%;
  right: 14px;
  z-index: 5;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: rgba(0, 0, 0, 0.3);
}
.filters-container-to::after {
  content: "до";
  position: absolute;
  top: 11%;
  right: 14px;
  z-index: 5;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.filters-field-to {
    border-radius: 0 4px 4px 0;
    margin-left: 2px;
}

.filters-price-wrapper {
    width: 285px;
    display: flex;
    position: relative;
}

.filter-range-wrapper {
    margin-bottom: 10px;
    padding: 39px 18px;
    border-radius: 3px;
    background-color: var(--grey-silver);
}

.filter-range {
    position: relative;
}

.filter-range-scale {
    height: 2px;
    background-color: var(--grey-asphalt);
}

.filter-range-bar {
    height: 2px;
    width: 75%;
    background-color: var(--white);
}

.filter-range-handle {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    box-sizing: content-box;
    padding: 0;
    border: 1px solid var(--white);
    border-radius: 5px;
    background-color: var(--white);
    cursor: pointer;
}

.filter-range-handle-max {
    left: 75%;
}

.filters-control {
    width: 191px;
    padding-top: 57px;
    margin-left: 70px;
}

.filters-btn {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
}

.filters-btn-apply {
    border-radius: 4px;
    padding: 8px 50px;
    width: 191px;
    height: 36px;
    background-color: var(--blue-bg);
    border: none;
    margin-bottom: 32px;
}

.filters-btn-apply:hover,
.filters-btn-apply:focus {
    background-color: var(--blue-dark-bg);
}

.filters-btn-apply:active {
    color: rgba(255, 255, 255, 0.3);
}

.filters-btn-reset {
    border-radius: 4px;
    padding: 8px 50px;
    width: 191px;
    height: 36px;
    background-color: transparent;
    border: none;
    color: var(--white);
}

.filters-btn-reset:hover {
    color: rgba(255, 255, 255, 0.6);
}

.filters-btn-reset:focus {
    outline: none;
    color: var(--white);
    border: 1px solid var(--blue-bg);
}

.filters-btn-reset:active {
    color: rgba(255, 255, 255, 0.3);
    border: none;
}

.filters-btn-reset:disabled {
    color: rgba(255, 255, 255, 0.6);
    border: none;
}

.result {
    background-color: var(--white);
    padding: 0 70px;
}

.result-wrapper {
    display: flex;
    align-items: center;
}

.result-group {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.sorting-group {
    margin-left: 200px;
}

.result-sorting {
    border: 2px solid var(--grey-semi);
    border-radius: 4px;
    padding: 9px 26px;
    padding-right: 40px;
    width: 292px;
    height: 49px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background-color: transparent;
    font-family: "PT Sans", sans-serif;
    appearance: none;
    background-image: url(../images/icon-selector.svg);
    background-repeat: no-repeat, repeat;
    background-position: right 8% top 50%;
    background-size: auto;
    cursor: pointer;
}

.result-sorting:hover,
.result-sorting:focus {
    border: 2px solid var(--blue-dark-bg);
}

.result-sorting:disabled {
    border: 2px solid rgba(172, 167, 167, 0.3);
    color: rgba(172, 167, 167, 0.3);
}

.view-group {
    margin-left: auto;
}

.view-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    min-width:170px;
}

.view-item {
    margin-left: 8px;
}

.view-link {
    border: 2px solid var(--grey-semi);
    border-radius: 4px;
    padding: 14px 12px;
    width: 48px;
    height: 48px;
    display: block;
}

.view-link:focus {
    border: 2px solid var(--blue-bg);
    outline: none;
}

.view-link:hover,
.view-link:active {
    border: 2px solid var(--black);
}

.view-link--active {
    border: 2px solid var(--black);
}

.view-link-grid {
    background-image: url(../images/icon-view-tile.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.view-link-album {
    background-image: url(../images/icon-view-album.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.view-link-list {
    background-image: url(../images/icon-view-list.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.cards-list {
    list-style: none;
    padding: 0;
    padding-bottom: 40px;
    margin: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 20px;
}

.card-info-block {
    margin: 0;
}

.cards-item {
    border: 1px solid var(--grey-semi);
    border-radius: 4px;
    padding: 20px;
    width: 340px;
    min-height: 438px;
}

.card-link {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: var(--black);
}

.card-type-home {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.card-price {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: right;
}

.card-btn {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 140px;
    height: 36px;
    color: var(--white);
    cursor: pointer;
}

.card-more {
    border-radius: 4px;
    padding: 8px 26px;
    background-color: var(--brown-bg);
    border: none;
}

.card-more:hover,
.card-more:focus {
    background-color: var(--brown-dark-bg);
}

.card-more:disabled {
    background-color: var(--grey);
    color: var(--white);
}

.card-favorite {
    border-radius: 4px;
    padding: 8px 17px;
    background-color: var(--blue-bg);
    border: none;
}

.card-favorite:hover,
.card-favorite:focus {
    background-color: var(--blue-dark-bg);
}

.card-favorite-active {
    background-color: var(--green-bg);
}

.card-favorite:disabled {
    background-color: var(--grey);
    color: var(--white);
}

.card-favorite-active:hover,
.card-favorite-active:focus {
    background-color: var(--green-dark-bg);
}

.card-favorite:disabled {
    background-color: var(--grey);
    color: var(--white);
}

.card-favorite-active:disabled {
    background-color: var(--grey);
    color: var(--white);
}

.card-rating {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 140px;
    height: 36px;
    color: var(--black);
    background-color: var(--white-bg);
    padding: 8px 20px;
    cursor: default;
}

.card-stars-list {
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0;
}

.card-star {
    display: block;
    width: 18px;
    height: 17px;
    background-image: url(../images/icon-star.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 2px;
}

.card-btn:active {
    color: rgba(255, 255, 255, 0.3);
}

.pagination-list {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    list-style: none;
    display: flex;
    border-top: 1px solid var(--grey-semi);
}

.pagination-item {
    display: block;
    min-width: 60px;
    height: 60px;
    background-color: transparent;
    color: var(--black);
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    margin-right: 8px;
    cursor: default;
}

.pagination-link {
    display: block;
    min-width: 60px;
    height: 60px;
    background-color: var(--blue-bg);
    color: var(--white);
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    cursor: pointer;
}

.pagination-link--current {
    display: block;
    min-width: 60px;
    height: 60px;
    background-color: var(--white-bg);
    color: var(--black);
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
}

.pagination-link:hover {
    background-color: var(--blue-dark-bg);
}

.pagination-link:active {
    background-color: var(--blue-dark-bg);
    color: rgba(255, 255, 255, 0.3);
}

.pagination-link--current:hover,
.pagination-link--current:active,
.pagination-link--current:focus {
    background-color: var(--white-bg);
    color: var(--black);
}

.subscribe-catalog {
    background-color: var(--white);
    background-image: none;
    min-height: 414px;
    color: var(--black);
}

.subscribe-catalog-title {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    color: var(--black);
}

.subscribe-catalog-text {
    font-size: 22px;
    line-height: 26px;
    color: var(--black);
}
.popup-bg {
  position: absolute;
background-color:rgba(242, 242, 242, 0.7);
width: 100%;
height: 100%;
}
.popup-module {
  background-color: var(--white);
  width:717px;
  min-height: 576px;
  margin: 0 auto;
  border-radius: 30px;
  padding: 64px 70px;
  position: relative;
  margin-top: 400px;
}
.popup-close-btn {
  position: absolute;
  top: 12%;
  right: 7%;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid var(--white-bg);
  background-color: var(--white-bg);
  cursor: pointer;
}
.popup-close-btn:hover {
  border: 1px solid var(--grey-semi);
  background-color: var(--grey-semi);
}
.popup-close-btn:focus {
  background-color: var(--grey-semi);
  border: 1px solid var(--grey-semi);
  outline:3px solid var(--blue-bg);
}
.popup-close-btn::before {
  content: "";
  position: absolute;
  top: 25%;
  right: 50%;
  width: 1px;
  height: 24px;
  border-left: 1px solid var(--black);
  rotate: 45deg;
}
.popup-close-btn::after {
  content: "";
  position: absolute;
  top:25%;
  right: 50%;
  width: 1px;
  height: 24px;
  border-left: 1px solid var(--black);
  rotate: -45deg;
}
.popup-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
}
.popup-search-btn {
  display: block;
  width: 577px;
  text-align: center;
  border:1px solid var(--blue-bg);
  border-radius:10px;
  background-color:var(--blue-bg);
  color:var(--white);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 18px 20px;
  cursor: pointer;
}
.popup-search-btn:hover,
.popup-search-btn:focus {
  background-color:var(--blue-dark-bg);
}

.popup-search-btn:active {
  background-color: var(--blue-dark-bg);
  color: rgba(255, 255, 255, 0.3);
}
.popup-wrapper-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:baseline;
  margin-bottom: 23px;
}
.popup-date {
font-weight: 700;
font-size: 20px;
line-height: 24px;
margin-right: 15px;
}
.popup-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color:var(--white-bg);
  border:none;
}
.popup-input-wrapper {
  position: relative;
}
.popup-input:hover {
  background-color: var(--grey-semi);
}
.popup-input:focus {
  background-color: var(--grey-semi);
  outline:3px solid var(--blue-bg);
}
.popup-text {
font-weight: 400;
font-size: 16px;
line-height: 21px;
margin: 0;
padding: 0;
padding-left: 20px;
}
.popup-text-error {
font-weight: 400;
font-size: 16px;
line-height: 21px;
color:var(--red);
}
.popup-arrived,
.popup-departure{
  min-width: 440px;
  min-height: 48px;
  padding: 12px 48px 12px 20px;
  margin-bottom: 4px;
  border-radius:4px;
}
.popup-arrived {
  background-image: url(../images/icon-calendar.svg);
  background-repeat: no-repeat;
  background-position:   95% center;
}

.popup-departure {
  background-image: url(../images/icon-calendar.svg);
  background-repeat: no-repeat;
  background-position:   95% center;
}

.popup-input-number {
  padding: 14px 5px;
  width:31px;
  background-color:var(--white-bg);
  border:none;
  text-align: center;
}
.popup-quantity {
  padding: 14px 10px;
  width: 40px;
  background-color:var(--white-bg);
  text-align: center;
  color:rgba(117, 97, 87, 0.3);
  font-size: 30px;
  cursor: pointer;
}

.popup-quantity:hover {
  background-color: var(--grey-semi);
}
.popup-quantity:focus {
  background-color: var(--grey-semi);
}
.popup-container {
  display: flex;
  align-items:baseline;
}
.popup-box {
  display: flex;
}
.popup-quantity-minus {
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;
}
.popup-quantity-plus {
  border-top-right-radius:4px;
  border-bottom-right-radius: 4px;
}
.popup-adults {
  margin-right: 42px;
}
.popup-children {
  margin-right: 10px;
}
.popup-info-btn {
  color:var(--white);
  font-size: 16px;
  text-align: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: none;
  background-color: var(--blue-bg);
  cursor: pointer;
  padding: 2px 4px;
  margin-right: 46px;
}
.popup-info-btn:hover,
.popup-info-btn:focus {
  background-color:var(--blue-dark-bg);
}

.popup-info-btn:active {
  background-color: var(--blue-dark-bg);
  color: rgba(255, 255, 255, 0.3);
}

.popup-area {
  display: flex;
  position: relative;
  align-items:baseline;
}
.popup-info-block {
  width: 256px;
  color:var(--white);
  background-color: var(--black);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  position: absolute;
  top:95%;
  right:-105%;
}
.popup-info-block::after {
  content: "";
  position: absolute;
  top: -7px;
  right: 50%;
  width: 15px;
  height: 15px;
  border: 1px solid var(--black);
  background-color:var(--black);
  rotate: 45deg;
}
