@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --brown-bg: #756157;
  --brown-dark-bg: #615048;
  --blue-lightest: #82d3d3;
  --blue-bg-light: #F0F6FA;
  --blue-bg: #82B3D3;
  --blue-dark-bg: #68A2CA;
  --blue-azure: #E6F0F6;
  --green-bg: #7DB54F;
  --green-dark-bg: #6C9E42;
  --black: #000000;
  --white: #ffffff;
  --white-bg: #F2F2F2;
  --grey: #E5E5E5;
  --grey-silver: #999999;
  --grey-semi: #E6E6E6;
  --grey-darkest: #3F5E72;
  --grey-dark: #333333;
  --grey-asphalt: #878b8d;
  --brown-darkest: #756257;
  --red: #FF5757;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white-bg);
}

.btn {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
}

.index-wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-wrapper {
  background-color: var(--white);
}

.page-header {
  color: var(--black);
  background-color: var(--white);
}

.navigation {
  display: flex;
  justify-content: left;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-left: 29px;
  padding: 0;
  list-style: none;
}

.navigation-item {
  margin: 0 16px;
  margin-right: 17px;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: var(--black);
  font-weight: 700;
  text-align: center;
  padding: 19px 0;
  padding-top: 12px;
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--brown-bg);
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link--current {
  border-bottom: 2px solid var(--brown-darkest);
}

.navigation-link-logo {
  margin-right: 30px;
  padding: 0;
  text-decoration: none;
}

.navigation-logo {
  position: absolute;
  top: -8px;
  left: 0;
  display: block;
}

.navigation-item-logo {
  position: relative;
  min-width: 140px;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  min-width: 300px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.navigation-user-item {
  position: relative;
}

.navigation-user-item .navigation-user-like {
  position: absolute;
  top: 7px;
  right: 6px;
  z-index: 2;
  color: var(--white);
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
}

.navigation-user-like::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: -1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--green-bg);
  background-color: var(--green-bg);
}

.navigation-user-link svg:hover,
.navigation-user-link svg:focus {
  fill: var(--brown-bg);
}

.navigation-user-link svg:active {
  fill: rgba(117, 97, 87, 0.3);
}

.navigation-user-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: var(--black);
  font-weight: 700;
  text-align: center;
  padding: 15px 11px;
  text-decoration: none;
}

.navigation-btn {
  display: block;
  min-width: 160px;
  margin-left: 20px;
  margin-top: -10px;
  padding: 8px 34px;
  padding-left: 36px;
  padding-right: 29px;
  padding-top: 9px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--brown-bg);
  border-radius: 4px;
}

.navigation-btn:hover {
  background-color: var(--brown-dark-bg);
}

.navigation-btn:active {
  background-color: var(--brown-bg);
  color: rgba(255, 255, 255, 0.3);
}

.navigation-btn:disabled {
  background-color: var(--grey);
  color: var(--white);
}

.promo {
  min-height: 485px;
  background-color: var(--blue-lightest);
  background-image: url(../images/bg-divider.svg),
    url(../images/bg-index-welcome.jpg);
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: 100% auto, cover;
  border-top: 1px solid var(--white);
}

.promo-img {
  display: block;
  margin: 0 auto;
  margin-top: 49px;
}

.reasons {
  max-width: 1200px;
  padding-top: 67px;
}

.reasons-decription {
  margin: 0;
  padding: 0 290px 0 290px;
  font-size: 30px;
  line-height: 36px;
  color: var(--black);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.reasons-text {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 90px;
  padding: 0 274.5px 0 274.5px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.reasons-item {
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 385px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}


.reasons-item img {
  object-fit: contain;
}

.reasons-title {
  position: relative;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  color: var(--black);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.reasons-special .reasons-title {
  margin-bottom: 62px;
}

.reasons-special .reasons-title::after {
  content: "";
  position: absolute;
  top: 85px;
  right: 84px;
  width: 60px;
  height: 2px;
  border: 1px solid rgba(255, 255, 255, .3);
}

.reasons-title::after {
  content: "";
  position: absolute;
  top: 85px;
  right: 84px;
  width: 60px;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, .3);
}

.reasons-content {
  font-size: 18px;
  line-height: 21px;
  color: var(--black);
  font-weight: 400;
  text-align: center;
}

.reasons-special .reasons-item-line {
  color: var(--white);
}

.reasons-item-usually .reasons-item-line {
  color: var(--black);
}

.reasons-item-usually {
  width: 400px;
  padding: 85px 85px;
  padding-top: 113px;
  background-color: var(--blue-bg-light);
}

.reasons-item-dark {
  background-color: var(--blue-azure);
}

.reasons-item-special {
  background-color: var(--blue-bg);
  flex-direction: row;
}

.reasons-special {
  padding: 85px 86px;
  padding-bottom: 20px;
  padding-top: 103px;
}

.reasons-item-special h3 {
  color: var(--white);
}

.reasons-item-special p {
  color: var(--white);
}

.advantages {
  padding-top: 64px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 400px;
  min-height: 385px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  padding: 70px 70px;
  padding-top: 184px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-position: center 81px;
}


.advantages-item-houses {
  background-image: url(../images/icon-house.svg);
  background-color: var(--blue-bg-light);
}

.advantages-item-foods {
  background-image: url(../images/icon-food.svg);
  background-color: var(--white);
}

.advantages-item-gifts {
  background-image: url(../images/icon-gift.svg);
  background-color: var(--blue-bg-light);
}

.advantages-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 347px;

  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  margin-top: 20px;
  padding: 0 355px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 64px;
}

.advantages-subtitle {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-content {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-title {
  margin: 0;
  margin-bottom: 21px;
  padding: 0 304px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-text {
  margin: 0;
  margin-bottom: 53px;
  padding: 0 304px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-modal-btn {
  display: block;
  min-width: 376px;
  width: 376px;
  margin: 0 auto;
  padding: 8px 50px;
  border-radius: 4px;
  background-color: var(--brown-bg);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  cursor: pointer;
  text-align: center;
}

.search-modal-btn:hover,
.search-modal-btn:focus {
  background-color: var(--brown-dark-bg);
}

.search-modal-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe {
  background-color: var(--blue-bg);
  background-image: url(../images/bg-subscribe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 414px;
  text-align: center;
  padding: 96px 0 102px 0;
}

.subscribe-email {
  background-color: var(--white-bg);
  border-radius: 4px 0 0 4px;
  padding: 15px 22px;
  min-width: 452px;
  min-height: 52px;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  border: none;
}

.subscribe-email:hover {
  background-color: var(--grey-semi);
}

.subscribe-email:focus {
  background-color: var(--grey-semi);
  border: none;
  outline: 3px solid var(--blue-bg);
}

.subscribe-btn {
  padding: 9px 50px;

  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: var(--white);
  text-transform: uppercase;

  background-color: var(--blue-bg);
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  border: none;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--blue-dark-bg);
}

.subscribe-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-title {
  margin: 0;
  margin-bottom: 22px;
  padding: 0 398px;
  font-size: 30px;
  line-height: 36px;
  color: var(--white);
  text-transform: uppercase;
}

.subscribe-text {
  margin: 0;
  margin-bottom: 53px;
  font-size: 22px;
  line-height: 26px;
  color: var(--white);
  padding: 0 362.5px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  padding: 45px 70px 30px 70px;
  min-height: 120px;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 17px;
  min-width: 142px;
  max-width: 200px;
  margin: 0;
  padding: 0 9px;
  list-style: none;
}

.social-link {
  padding: 3px;
  text-decoration: none;
}

.social-link svg {
  fill: var(--blue-bg);
}

.social-link:hover svg,
.social-link:focus svg {
  fill: var(--blue-dark-bg);
}

.social-link:active svg {
  fill: var(--blue-dark-bg);
  opacity: 0.3;
}

.creator {
  margin-left: auto;
}

.contact {
  margin-left: 22%;
}

.contact-link {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--black);
  text-decoration: none;
}

.contact-link:hover {
  color: var(--brown-bg);
}

.contact-link:active {
  color: var(--brown-bg);
  opacity: 0.3;
}

.footer-link-academy svg {
  fill: var(--black);
}

.footer-link-academy:hover svg {
  fill: var(--brown-bg);
}

.footer-link-academy:active svg {
  fill: var(--brown-bg);
  opacity: 0.3;
}

.filters {
  padding: 34px 70px 56px 73px;

  background-color: var(--blue-bg);
  background-image: url(../images/bg-filter.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.filters-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: var(--white);
  text-align: left;
}

.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.breadcrumb-item {
  margin-right: 27px;
  position: relative;
}

.breadcrumb-item:not(:last-child):after {
  content: "";
  position: absolute;
  right: -15px;
  top: 7px;
  width: 8px;
  height: 8px;

  background-color: transparent;
  border-left: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  transform: rotate(226deg);
}


.breadcrumb-home :hover {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumb-divider {
  color: var(--white);
}

.breadcrumb-link {
  font-size: 16px;
  line-height: 21px;
  color: var(--white);
  text-decoration: none;
}

.breadcrumb-link:hover {
  opacity: 0.6;
}

.breadcrumb-link:active {
  opacity: 0.3;
}

.filters-form {
  display: flex;
}

.form-wrapper {
  border: none;
  margin: 0;
  margin-right: 71px;
  padding: 0;
}

.filters-list {
  margin: 0;
  padding: 0;
  padding-left: 34px;
  list-style: none;
}

.filters-item {
  margin: 0;
  margin-bottom: 16px;
}

.filters-name {
  position: relative;
  cursor: pointer;
}

.filters-name:hover,
.filters-name:active {
  color: rgba(255, 255, 255, 0.3);
}

.filters-name-checkbox::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 1px;
  width: 20px;
  height: 20px;

  background-color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--white);
  cursor: pointer;
}

.filters-name-checkbox:hover::before,
.filters-name-checkbox:active::before {
  background: rgba(255, 255, 255, 0.3);
  border: none;
}

.filters-check:focus+.filters-name-checkbox::before {
  outline: 3px solid var(--blue-dark-bg);
  border: none;
}

.filters-check:checked+.filters-name-checkbox::after {
  content: "";
  position: absolute;
  left: -31px;
  top: 5px;
  width: 13px;
  height: 9px;
  border-left: 2px solid var(--grey-darkest);
  border-bottom: 2px solid var(--grey-darkest);
  transform: rotate(-45deg);
  cursor: pointer;
}

.filters-name-radio::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 1px;
  width: 20px;
  height: 20px;

  background-color: var(--white);
  border-radius: 50%;
  border: 1px solid var(--white);
  cursor: pointer;
}

.filters-name-radio:hover::before,
.filters-name-radio:active::before {
  background: rgba(255, 255, 255, 0.3);
  border: none;
}

.filters-radio:focus+.filters-name-radio::before {
  outline: 3px solid var(--blue-dark-bg);
  border: none;
}

.filters-radio:checked+.filters-name-radio::after {
  content: "";
  position: absolute;
  left: -32px;
  top: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--grey-darkest);
  background: var(--grey-darkest);
  cursor: pointer;
}


.filters-subtitle {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--white);
}

.filters-name {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: var(--white);
}

.filters-subtitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--white);
}

.filters-field {
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  padding-right: 38px;
  margin-bottom: 43px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  background-color: var(--white-bg);
  border: none;
}

.filters-field:hover {
  background-color: var(--grey-semi);
}

.filters-field:focus {
  background-color: var(--grey-semi);
  border: none;
  outline: 3px solid var(--blue-bg);
}

.filters-price {
  margin-left: auto;
}

.filters-field-from {
  position: relative;
  border-radius: 4px 0 0 4px;
}

.filters-field-from {
  position: relative;
}

.filters-field-from:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 11px;
  border: 1px solid red;
}

.filters-left-block {
  position: relative;
}

.filters-right-block {
  position: relative;
}

.filters-container-from::after {
  content: "от";
  position: absolute;
  top: 14%;
  right: 21px;
  z-index: 5;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.filters-container-to::after {
  content: "до";
  position: absolute;
  top: 14%;
  right: 20px;

  z-index: 5;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.filters-field-to {
  margin-left: 2px;
  border-radius: 0 4px 4px 0;
}

.filters-price-wrapper {
  position: relative;
  display: flex;
  width: 285px;
}

.filter-range-wrapper {
  margin-bottom: 10px;
  padding: 39px 18px;
  border-radius: 3px;
  background-color: var(--grey-silver);
}

.filter-range {
  position: relative;
}

.filter-range-scale {
  height: 4px;
  background-color: var(--grey-asphalt);
}

.filter-range-bar {
  height: 4px;
  width: 75%;
  background-color: var(--white);
}

.filter-range-handle {
  position: absolute;
  top: 50%;
  left: -1%;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translateY(-50%);
  box-sizing: content-box;

  background-color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.filter-range-handle-max {
  left: 72%;
}

.filters-control {
  width: 191px;
  margin-left: 70px;
  padding-top: 55px;
}

.filters-btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
}

.filters-btn-apply {
  width: 191px;
  height: 36px;
  margin-bottom: 32px;
  padding: 9px 50px 8px 54px;
  background-color: var(--blue-bg);
  border-radius: 4px;
  border: none;
}

.filters-btn-apply:hover,
.filters-btn-apply:focus {
  background-color: var(--blue-dark-bg);
}

.filters-btn-apply:active {
  color: rgba(255, 255, 255, 0.3);
}

.filters-btn-reset {
  border-radius: 4px;
  padding: 9px 50px 8px 54px;
  width: 191px;
  height: 36px;
  color: var(--white);
  background-color: transparent;
  border: none;
}

.filters-btn-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filters-btn-reset:focus {
  outline: 1px solid var(--blue-bg);
  color: var(--white);
  border: none;
}

.filters-btn-reset:active {
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.filters-btn-reset:disabled {
  color: rgba(255, 255, 255, 0.6);
  border: none;
}

.result {
  padding: 0 70px;
  padding-top: 27px;
  background-color: var(--white);
}

.result-number {
  padding-left: 9px;

}

.result-wrapper {
  display: flex;
  align-items: center;
}

.result-group {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-group {
  margin-left: 200px;
}

.result-sorting {
  border: 2px solid var(--grey-semi);
  border-radius: 4px;
  padding: 8px 20px;
  padding-right: 40px;
  width: 292px;
  height: 49px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  appearance: none;
  background-color: transparent;
  background-image: url(../images/icon-selector.svg);
  background-repeat: no-repeat, repeat;
  background-position: right 6% top 50%;
  background-size: auto;
  cursor: pointer;
}

.result-sorting:hover,
.result-sorting:focus {
  border: 2px solid var(--blue-dark-bg);
}

.result-sorting:disabled {
  border: 2px solid rgba(172, 167, 167, 0.3);
  color: rgba(172, 167, 167, 0.3);
}

.view-group {
  margin-left: auto;
}

.view-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 168px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.view-item {
  margin-left: 8px;
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  border: 2px solid var(--grey-semi);
  border-radius: 4px;
}

.view-link:focus {
  border: 2px solid var(--blue-bg);
  outline: none;
}

.view-link:hover,
.view-link:active {
  border: 2px solid var(--black);
}

.view-link--active {
  border: 2px solid var(--black);
}

.view-link-grid {
  background-image: url(../images/icon-view-tile.svg);
  background-repeat: no-repeat;
  background-position: 58% 50%;
}

.view-link-album {
  background-image: url(../images/icon-view-album.svg);
  background-repeat: no-repeat;
  background-position: 58% 50%;
}

.view-link-list {
  background-image: url(../images/icon-view-list.svg);
  background-repeat: no-repeat;
  background-position: 58% 50%;
}

.cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 17px 21px;

  list-style: none;
  padding: 0;
  padding-bottom: 38px;
  padding-top: 16px;

  margin: 0;
}

.card-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
}

.card-info-block {
  margin: 0;
}

.cards-item {
  width: 340px;
  min-height: 438px;
  border: 1px solid var(--grey-semi);
  border-radius: 4px;
  padding: 20px;
}

.card-title {
  margin-top: 11px;
  margin-bottom: 15px;
}

.card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.card-type-home {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: right;
}

.card-btn {
  width: 140px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
}

.card-more {
  border-radius: 4px;
  padding: 8px 26px;
  background-color: var(--brown-bg);
  border: none;
}

.card-more:hover,
.card-more:focus {
  background-color: var(--brown-dark-bg);
}

.card-more:active {
  color: rgba(255, 255, 255, 0.6);
}

.card-more:disabled {
  color: var(--white);
  background-color: var(--grey);
}

.card-favorite {
  padding: 8px 17px;
  background-color: var(--blue-bg);
  border: none;
  border-radius: 4px;
}

.card-favorite:hover,
.card-favorite:focus {
  background-color: var(--blue-dark-bg);
}

.card-favorite:active {
  color: rgba(255, 255, 255, 0.6);
}

.card-favorite-active {
  background-color: var(--green-bg);
}

.card-favorite-active:active {
  background-color: var(--green-bg);
  color: rgba(255, 255, 255, 0.6);
}

.card-favorite:disabled {
  color: var(--white);
  background-color: var(--grey);
}

.card-favorite-active:hover,
.card-favorite-active:focus {
  background-color: var(--green-dark-bg);
}

.card-favorite:disabled {
  background-color: var(--grey);
  color: var(--white);
}

.card-favorite-active:disabled {
  color: var(--white);
  background-color: var(--grey);
}

.card-rating {
  width: 140px;
  height: 36px;
  padding: 9px 9px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  background-color: var(--white-bg);
  cursor: default;
}

.card-stars-list {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 37px;
  padding: 0;
}

.card-star {
  width: 22px;
  height: 17px;
  display: block;
  margin-right: 2px;
  background-image: url(../images/icon-star.svg);
  background-repeat: no-repeat;
  background-position: center;
}


.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  list-style: none;
  border-top: 1px solid var(--grey-semi);
}

.pagination-item {
  display: block;
  min-width: 60px;
  height: 60px;
  margin-right: 8px;
  background-color: transparent;
  color: var(--black);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  cursor: default;
}

.pagination-link {
  display: block;
  min-width: 60px;
  height: 60px;
  background-color: var(--blue-bg);
  color: var(--white);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  cursor: pointer;
  text-decoration: none;
}

.pagination-link--current {
  display: block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  color: var(--black);
  background-color: var(--white-bg);
}

.pagination-link:hover {
  background-color: var(--blue-dark-bg);
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--blue-dark-bg);
}

.pagination-link--current:hover,
.pagination-link--current:active,
.pagination-link--current:focus {
  color: var(--black);
  background-color: var(--white-bg);
}

.subscribe-catalog {
  padding-top: 157px;
  min-height: 414px;
  color: var(--black);
  background-color: var(--white);
  background-image: none;
}

.subscribe-catalog-title {
  margin: 0;
  margin-bottom: 21px;
  font-size: 30px;
  line-height: 36px;
  color: var(--black);
  text-transform: uppercase;
}

.subscribe-catalog-text {
  margin: 0;
  margin-bottom: 51px;
  padding: 0 330px;
  font-size: 22px;
  line-height: 26px;
  color: var(--black);
}

.popup-bg {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.popup-bg-modal {
  display: block;
  position: relative;
}

.popup-bg-modal .popup-module {
  margin-top: 5%;
  border: 3px solid var(--blue-bg);
}

.popup-module {
  position: relative;
  width: 717px;
  min-height: 576px;
  margin: 0 auto;
  margin-top: 391px;
  padding: 37px 70px;
  background-color: var(--white);
  border-radius: 30px;
  z-index: 3;
}

.popup-close-btn {
  position: absolute;
  top: 65px;
  right: 50px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid var(--white-bg);
  background-color: var(--white-bg);
  cursor: pointer;
}

.popup-close-btn:hover {
  border: 1px solid var(--grey-semi);
  background-color: var(--grey-semi);
}

.popup-close-btn:focus {
  background-color: var(--grey-semi);
  border: 1px solid var(--grey-semi);
  outline: 3px solid var(--blue-bg);
}

.popup-close-btn::before {
  content: "";
  position: absolute;
  top: 25%;
  right: 50%;
  width: 1px;
  height: 24px;
  border-left: 1px solid var(--black);
  transform: rotate(45deg);
}

.popup-close-btn::after {
  content: "";
  position: absolute;
  top: 25%;
  right: 50%;
  width: 1px;
  height: 24px;
  border-left: 1px solid var(--black);
  transform: rotate(-45deg);
}

.popup-title {
  margin-bottom: 64px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
}

.popup-search-btn {
  display: block;
  width: 577px;
  padding: 18px 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--white);
  border: 1px solid var(--blue-bg);
  border-radius: 10px;
  background-color: var(--blue-bg);
  cursor: pointer;
  text-transform: uppercase;
}

.popup-search-btn:hover,
.popup-search-btn:focus {
  background-color: var(--blue-dark-bg);
  outline: 3px solid var(--blue-bg);
}

.popup-search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--blue-dark-bg);
}

.popup-wrapper-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 23px;
}

.popup-wrapper-quantity {
  margin-bottom: 49px;
}

.popup-wrapper-departure {
  margin-bottom: 21px;
}

.popup-date {
  margin-right: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.popup-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--white-bg);
  border: none;
  font-family: "PT Sans", sans-serif;
}

.popup-input-wrapper {
  position: relative;
}

.popup-input:hover {
  background-color: var(--grey-semi);
}

.popup-input:focus {
  background-color: var(--grey-semi);
  outline: 3px solid var(--blue-bg);
}

.popup-text {
  max-width: 440px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding-left: 20px;
}

.popup-text-error {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--red);
}

.popup-arrived,
.popup-departure {
  min-width: 440px;
  min-height: 48px;
  margin-bottom: 4px;
  padding: 12px 48px 12px 20px;
  border-radius: 4px;
}

.popup-arrived {
  background-image: url(../images/icon-calendar.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
}

.popup-departure {
  background-image: url(../images/icon-calendar.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
}

.popup-input-number {
  width: 31px;
  padding: 6px 10px;
  background-color: var(--white-bg);
  border: none;
  text-align: center;
}

.popup-quantity {
  width: 40px;
  padding: 6px 10px;
  font-size: 30px;
  text-align: center;
  color: rgba(117, 97, 87, 0.3);
  background-color: var(--white-bg);
  cursor: pointer;
  border: none;
}

.popup-quantity:hover {
  background-color: var(--grey-semi);
  color: var(--black);
}

.popup-quantity:focus {
  background-color: var(--grey-semi);
  outline: 3px solid var(--blue-bg);
  color: var(--black);
}

.popup-quantity:active {
  color: rgba(117, 97, 87, 0.3);
}

.popup-container {
  display: flex;
  align-items: baseline;
}

.popup-box {
  display: flex;
}

.popup-quantity-minus {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.popup-quantity-plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.popup-adults {
  margin-right: 42px;
}

.popup-children {
  margin-right: 10px;
}

.popup-info-btn {
  width: 26px;
  height: 26px;
  margin-right: 46px;
  padding: 2px 4px;
  font-size: 16px;
  text-align: center;
  color: var(--white);
  border-radius: 50%;
  border: none;
  background-color: var(--blue-bg);
  cursor: pointer;
}

.popup-info-btn:hover,
.popup-info-btn:focus {
  background-color: var(--blue-dark-bg);
  outline: 3px solid var(--blue-bg);
}

.popup-info-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--blue-dark-bg);
}

.popup-area {
  position: relative;
  display: flex;
  align-items: baseline;
}

.popup-info-block {
  position: absolute;
  top: 95%;
  right: -105%;
  width: 256px;
  padding: 15px 18px 18px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  background-color: var(--grey-dark);
  border-radius: 10px;
}

.popup-info-block::after {
  content: "";
  position: absolute;
  top: -7px;
  right: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--grey-dark);
  transform: rotate(45deg);
}
